:root {
  --branding-color: #d9d9d9;
  --second-branding-color: #31d2f2;
  --third-branding-color: #6c757d;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
}
h1 {
  font-size: 70px;
  font-weight: bold;
}
h2,
h5 {
  line-height: 2;
  margin-top: 20px;
}
p {
  font-size: 16px;
  line-height: 30px;
  font-family: var(--default-font-family);
}
footer {
  font-size: 30px;
  margin: 30px 0;
}

.main-info {
  display: block;
  margin-top: 40px;
}
.hero,
.about-section {
  text-align: center;
  background-color: var(--branding-color);
  padding: 40px;
}
.portfolioLink {
  color: var(--third-branding-color);
}
.btn-info {
  font-size: 18px;
  line-height: 30px;
  padding: 12px 20px;
  background-color: var(--second-branding-color);
}
.portfolio-image {
  width: 70%;
  height: auto;
  vertical-align: middle;
  padding-top: 30px;
  margin: 20px auto;
  border-right: 10px solid var(--second-branding-color);
  border-bottom: 10px solid var(--second-branding-color);
  /* border-style: inset; */
}
.btn-branding-outline {
  display: block;
  margin: 0 auto;
  color: black;
  border-radius: 4px;
  border: 1px solid black;
  font-size: 20px;
  line-height: 25px;
  padding: 15px 30px;
  width: fit-content;
}

.project-description {
  padding: 60px;
}
.email-link {
  font-size: 20px;
  color: var(--third-branding-color);
  text-decoration: none;
  font-family: var(--default-font-family);
  padding-top: 20px;
}
.about-section {
  border-right: 10px solid #31d2f2;
}
.about-section h1 {
  font-size: 50px;
}
.my-story {
  color: var(--third-branding-color);
}
@media (max-width: 960px) {
  h1 {
    padding-bottom: 10px;
  }
  .project-description {
    padding: 0;
  }
  .portfolio-image {
    width: 50%;
  }
  .main-info {
    margin-top: 0;
  }
  .main-info h5 {
    padding: 5px;
  }
  .my-story {
    font-size: 14px;
    margin: 5px;
  }
  .about-section {
    padding: 5px;
  }
}
